---
import Layout from "~/layouts/PageLayout.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import Hero from "~/components/widgets/Hero.astro";
import { getPermalink, getBlogPermalink, getAsset } from '../utils/permalinks';

const metadata = {
  title: "文档",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
  tagline="开始学习 AQ"
  actions={[
    {
      variant: "primary",
      text: "开始",
      href: getBlogPermalink(),
      target: "_blank",
      icon: "tabler:download",
    },
  ]}
>
  <Fragment slot="title">
    <span class="text-accent dark:text-white highlight"> AQ </span>文档
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">AQ</span> 由于 AQ 目前正在开发中，文档尚未整理。您可以通过 AQ 博客了解所有关于 AQ 的内容，包括最新的开发更新和相关未发布的标准。</span
    >
  </Fragment>
</Hero>
  <!-- BlogLatestPosts Widget ******* -->
  <BlogLatestPosts
    title="查看最新的 AQ 博客"
    information={`浏览我们精选的博客文章，了解关于 AQ 语言的所有内容。每篇文章都是掌握 AQ 艺术、揭示其在开发项目中独特魅力的一步。`}
  />
</Layout>