---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

import CodeImg from '../assets/images/code.png';
import DevelopImg from '../assets/images/develop.jpg';
import NetImg from '../assets/images/net.jpg';
import WorkImg from '../assets/images/work.jpg';
const metadata = {
  title: "AQ — Le Langage de Programmation Simple, Rapide et Sécurisé",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Widget Hero ******************* -->

  <Hero
    tagline="Commencez à Développer avec AQ"
    actions={[
      {
        variant: "primary",
        text: "Commencer",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        icon: "tabler:download",
      },
      { text: "En savoir plus", href: "#features" },
    ]}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Le langage de programmation</span><br />
      <span class="text-accent dark:text-white highlight"> AQ </span>
      Simple, Rapide et Sécurisé
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AQ</span> AQ est un langage de programmation interprété.
        Il est rapide, petit, simple et sûr. En même temps, les programmes écrits en
        AQ peuvent également être compilés.</span
      >
      Peut-être un excellent travail.
    </Fragment>
  </Hero>

  <!-- Widget Note ******************* -->

  <Note />

  <!-- Widget Features *************** -->

  <Features
    id="features"
    tagline="Caractéristiques"
    title="Découvrez le Langage AQ"
    subtitle="Un langage de programmation interprété moderne conçu pour la simplicité et la sécurité. AQ est rapidement devenu un choix de prédilection pour les développeurs."
    items={[
      {
        title: "Rapide & Interprété",
        description:
          "La vitesse d'AQ est remarquable, en faisant un choix rapide pour le développement. Il peut être à la fois interprété pour faciliter l'utilisation ou compilé pour plus d'efficacité.",
        icon: "tabler:speedboat",
      },
      {
        title: "Petit & Simple",
        description:
          "AQ garde les choses petites et simples, en se concentrant sur la livraison de fonctionnalités sans compliquer le processus de développement.",
        icon: "tabler:layout-kanban",
      },
      {
        title: "Sécurité & Protection",
        description:
          "Avec un engagement envers des normes de codage sécurisé, AQ fournit une gestion robuste de la mémoire et des protections contre les vulnérabilités courantes.",
        icon: "tabler:shield-lock",
      },
      {
        title: "Compatibilité Multiplateforme",
        description:
          "AQ est polyvalent et prend en charge plusieurs plateformes, y compris Windows, Linux et MacOS, le rendant accessible à tout développeur.",
        icon: "tabler:device-desktop",
      },
      {
        title: "Communauté Open Source",
        description:
          "Une communauté open source active fait avancer AQ, favorisant la collaboration, l'innovation et l'amélioration continue.",
        icon: "tabler:users",
      },
      {
        title: "Syntaxe Polyvalente",
        description:
          "En adoptant un style de syntaxe similaire à C++, AQ facilite la maîtrise et l'utilisation par les développeurs dans divers scénarios de programmation.",
        icon: "tabler:code",
      },
    ]}
  />

  <!-- Widget Content **************** -->

  <Content
    isReversed
    tagline="Inspiré par AQ"
    title="L'Innovation de AQ : Où la Vitesse Rencontre la Simplicité"
    items={[
      {
        title: "Rapide et Efficace",
        description:
          "Conçu pour la performance, AQ offre une vitesse impressionnante pour le développement et l'exécution en temps réel.",
      },
      {
        title: "Simple et Petit",
        description:
          "Fidèle à ses principes de conception, AQ est simple et léger, facilitant une courbe d'apprentissage plus facile et des bases de code plus simples.",
      },
      {
        title: "Sûr et Sécurisé",
        description:
          "La sécurité est une caractéristique essentielle d'AQ, garantissant que les programmes sont non seulement rapides et faciles à écrire, mais aussi sécurisés dès le départ.",
      },
    ]}
    image={{
      src: CodeImg,
      alt: "Code avec AQ",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Adoptez la Puissance d'AQ
      </h3>
      Propulsez votre développement au niveau supérieur en exploitant la simplicité et les performances d'AQ.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Content **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: "Adaptabilité Linguistique Sans Effort",
        description:
          "La syntaxe simple et la petite empreinte d'AQ le rendent incroyablement adaptable à une variété de besoins en programmation, améliorant l'efficacité des développeurs.",
      },
      {
        title: "Interprété ou Compilé",
        description:
          "Avec AQ, profitez de la flexibilité de choisir entre une exécution interprétée ou compilée pour répondre à vos besoins de projet et de performance.",
      },
      {
        title: "Normes de Sécurité Impeccables",
        description:
          "AQ met l'accent sur la sécurité, offrant la tranquillité d'esprit avec une gestion sûre de la mémoire et une inspection proactive du code pour prévenir les vulnérabilités.",
      },
      {
        title: "Support Étendu des Plates-formes",
        description:
          "Les capacités multiplateformes d'AQ garantissent que vos projets restent polyvalents, fonctionnant sans problème sur Windows, Linux, MacOS et plus encore.",
      },
    ]}
    image={{
      src: WorkImg,
      alt: "Travailler avec AQ",
    }}
  >
    <Fragment slot="content">
      Faites ressortir votre processus de développement avec le mélange unique de vitesse, simplicité et sécurité d'AQ.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Content **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: "Engagement Utilisateur Amélioré",
        description:
          "Impliquez votre public avec un langage de programmation conçu pour un développement rapide et des performances. La simplicité et la vitesse d'AQ créent des interactions utilisateur captivantes.",
      },
      {
        title: "Amélioration Continue",
        description:
          "AQ évolue continuellement avec les besoins de la communauté de programmation, garantissant que vos projets restent à jour avec les dernières pratiques en matière de sécurité logicielle et d'efficacité.",
      },
      {
        title: "Efficacité en Temps et en Ressources",
        description:
          "Avec la facilité d'utilisation du langage de programmation AQ, gagnez du temps et des ressources précieuses. Sa syntaxe simple et son efficacité compilée rationalisent les flux de travail de développement.",
      },
      {
        title: "Support de la Communauté",
        description:
          "Faites partie de la communauté vibrante d'AQ pour obtenir du support, des idées et des opportunités de collaboration qui enrichissent vos connaissances en programmation et votre productivité.",
      },
    ]}
    image={{
      src: NetImg,
      alt: "AQ NET",
    }}
  >
    <Fragment slot="content"
      >Donnez de l'élan à votre développement avec l'efficacité rationalisée d'AQ.</Fragment
    >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Widget Steps ****************** -->

  <Steps
    title="Améliorez votre efficacité de développement avec AQ."
    items={[
      {
        title: 'Étape 1: <span class="font-medium">Téléchargez AQ</span>',
        description:
          "Commencez par la configuration facile d'AQ. Lancez ll'installation et vous êtes prêt à commencer à coder avec un langage conçu pour la clarté et l'efficacité.",
        icon: "tabler:download",
      },
      {
        title: 'Étape 2: <span class="font-medium">Écrire du Code</em>',
        description:
          "Plongez dans AQ. Sa syntaxe simple, similaire à C++, facilite l'apprentissage et la traduction rapide de votre logique en code fonctionnel.",
        icon: "tabler:code",
      },
      {
        title: 'Étape 3: <span class="font-medium">Optimiser et Compiler</span>',
        description:
          "Tirez parti de la compilation et de l'exécution rapides d'AQ pour peaufiner les performances. Profitez de la flexibilité de l'exécution interprétée ou compilée pour correspondre à vos besoins de déploiement.",
        icon: "tabler:adjustments",
      },
      {
        title: "Déployer!",
        icon: "tabler:rocket",
      },
    ]}
    image={{
      src: DevelopImg,
      alt: "Environnement de Travail AQ",
    }}
  />

  <!-- Widget Features2 ************** -->

  <Features2
    title="Composants de Développement AQ les Plus Utilisés"
    subtitle="Blocs de construction essentiels pour le développement d'applications avec le langage AQ"
    tagline="Composants"
    items={[
      {
        title: "Compilateur Rapide",
        description:
          "Tout comme un système GPS efficace, le compilateur AQ guide rapidement le code vers son état optimisé.",
        icon: "flat-color-icons:template",
      },
      {
        title: "Éditeur Intégré",
        description:
          "L'espace de travail central où la magie opère ; un éditeur affiné pour AQ donne vie à votre code, style super-héros !",
        icon: "flat-color-icons:gallery",
      },
      {
        title: "Outils de Débogage",
        description:
          "Là où votre code AQ montre sa robustesse. Il est temps d'éliminer les imperfections et de vous démarquer, sans retenue !",
        icon: "flat-color-icons:approval",
      },
      {
        title: "Gestion de Bibliothèque",
        description:
          "La substance du développement AQ ; c'est là que vous intégrez des bibliothèques puissantes et passez de la simple vitrine à la création complète !",
        icon: "flat-color-icons:document",
      },
      {
        title: "Kits Multiplateformes",
        description:
          "Cette boîte à outils est votre guide enthousiaste, poussant votre code AQ à s'exécuter sur une variété de plateformes—allez-y, embrassez cette aventure !",
        icon: "flat-color-icons:advertising",
      },
      {
        title: "Métriques de Performance",
        description:
          "Un regard sur le menu dessert, révélant les délices de performance et les délices d'optimisation qui vous attendent.",
        icon: "flat-color-icons:currency-exchange",
      },
      {
        title: "Retours de la Communauté",
        description:
          "Entrez dans le coin des commérages d'AQ, où les témoignages valident la puissance du langage à travers des histoires à succès partagées.",
        icon: "flat-color-icons:voice-presentation",
      },
      {
        title: "Support aux Développeurs",
        description:
          "Votre boîte aux lettres numérique pour les requêtes AQ ; contactez-nous, obtenez des réponses ou célébrez les victoires—notre communauté répond rapidement !",
        icon: "flat-color-icons:business-contact",
      },
      {
        title: "Notes de Bas de Page de la Documentation",
        description:
          "Ne manquez pas les crédits qui défilent ; les notes de bas de page de la documentation AQ sont parsemées de trésors cachés !",
        icon: "flat-color-icons:database",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Widget BlogLatestPosts ******* -->

  <BlogLatestPosts
    title="Approfondissez vos Connaissances sur AQ"
    information={`Parcourez nos articles de blog soigneusement sélectionnés pour des guides complets sur le langage AQ. Chaque article est un pas vers la maîtrise de l'art de ce langage de programmation simple et sécurisé. Découvrez les subtillités qui font d'AQ une option convaincante pour vos projets de développement.`}
    />
  
    <!-- Widget FAQs ******************* -->
  
    <FAQs
      title="Réponses aux Questions Fréquemment Posées sur le Langage AQ"
      subtitle="Vous avez des questions sur AQ ? Voici quelques-unes des questions les plus courantes pour vous aider à comprendre l'approche du langage en matière de programmation simple et sécurisée."
      tagline="FAQs"
      classes={{ container: "max-w-6xl" }}
      items={[
        {
          title: "Ce qui Distingue AQ des Autres Langages ?",
          description:
            "La syntaxe simple et l'exécution efficace d'AQ le distinguent de la masse. Il est conçu pour être appris rapidement tout en offrant des fonctionnalités de sécurité robustes pour le développement moderne de logiciels.",
        },
        {
          title: "Comment Puis-je Commencer avec AQ ?",
          description:
            "Commencer avec AQ est aussi simple que sa syntaxe. Il vous suffit de visiter le dépôt GitHub officiel d'AQ, de le cloner et de suivre les instructions fournies dans le fichier readme pour configurer votre environnement de développement.",
        },
        {
          title: "Quels Sont les Exigences Système pour AQ ?",
          description:
            "AQ ne demande pas grand-chose, juste un système capable d'exécuter l'interpréteur ou le compilateur. Que vous soyez sur Windows, Linux ou MacOS, vous pouvez commencer avec AQ dès maintenant.",
        },
        {
          title: "AQ Convient-il comme Premier Langage de Programmation ?",
          description:
            "Absolument ! La simplicité et la ressemblance avec C++ font d'AQ un excellent point de départ pour les débutants. De plus, la communauté est prête à vous aider si vous vous trouvez dans une impasse.",
        },
        {
          title: "Puis-je Contribuer au Projet AQ ?",
          description:
            "Oui, les contributeurs sont les bienvenus ! AQ est un projet open source, et nous encourageons les contributions, que ce soit en codage, en documentation ou en support communautaire.",
        },
        {
          title: "Où Puis-je Trouver Plus d'Informations sur AQ ?",
          description:
            "Vous pouvez consulter la documentation officielle d'AQ pour des guides détaillés, visiter le dépôt pour le code source, ou participer aux forums communautaires pour toute question personnelle que vous pourriez avoir.",
        },
      ]}
    />
  
    <!-- Widget Stats ****************** -->
  
    <!--<Stats
      stats={[
        { title: 'Téléchargements', amount: '132K' },
        { title: 'Étoiles', amount: '24.8K' },
        { title: 'Forks', amount: '10.3K' },
        { title: 'Utilisateurs', amount: '48.4K' },
      ]}
    />-->
  
    <!-- Widget CallToAction *********** -->
  
    <CallToAction
      actions={[
        {
          variant: "primary",
          text: "Explorer AQ",
          href: "https://github.com/aq-org/AQ",
          target: "_blank",
          icon: "tabler:download",
        },
      ]}
    >
      <Fragment slot="title">
        Accélérez avec&nbsp;<br class="block sm:hidden" /><span
          class="sm:whitespace-nowrap">la Programmation AQ</span
        >
      </Fragment>
  
      <Fragment slot="subtitle">
        Libérez le potentiel d'un codage rapide, simple et sécurisé avec AQ. <br
          class="hidden md:inline"
        />Commencez votre parcours de développement dès aujourd'hui !
      </Fragment>
    </CallToAction>
  </Layout>