---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

const metadata = {
  title: "AQ — The Simple, Fast, and Secure Programming Language",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: "primary",
        text: "Get Started with AQ",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        icon: "tabler:download",
      },
      { text: "Learn More", href: "#features" },
    ]}
    image={{
      src: "https://github.com/aq-org/AQ/blob/main/aq.png?raw=true",
      alt: "AQ Logo",
    }}
  >
    <Fragment slot="title">
      Fast, Small, Simple, and Safe<br class="block sm:hidden" />
      <span class="highlight">Programming Language</span>
    </Fragment>

    <Fragment slot="subtitle">
      AQ is a powerful interpreted programming language that emphasizes speed,
      efficiency, and simplicity. Perfect for developers who value a
      straightforward and secure coding experience.
    </Fragment>
  </Hero>
  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="Discover AQ's Capabilities"
    subtitle="Why choose AQ? Because it offers:"
    items={[
      {
        title: "Speed and Efficiency",
        description:
          "Super-fast execution time and efficient resource management, perfect for performance-critical applications.",
        icon: "tabler:speedboat",
      },
      {
        title: "Simplicity",
        description:
          "Easy to learn syntax that allows developers to quickly write and understand code.",
        icon: "tabler:telescope",
      },
      {
        title: "Safety",
        description:
          "Strong emphasis on security, with safe memory management and error handling, ensuring the integrity of your applications.",
        icon: "tabler:shield-check",
      },
      {
        title: "Cross-platform Compatibility",
        description:
          "Write once, run anywhere, with AQ supporting multiple platforms and architectures.",
        icon: "tabler:device-mobile",
      },
    ]}
  />
  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="AQ's Philosophy"
    title="Simple, Yet Powerful"
    items={[
      {
        title: "Interpreted or Compiled",
        description:
          "Experience the flexibility of using AQ either as an interpreted language for rapid prototyping or compile it for optimized production-ready applications.",
      },
      {
        title: "Memory Safety",
        description:
          "With AQ’s focus on safe memory management, expect fewer crashes and memory leaks, leading to more reliable and robust programs.",
      },
      {
        title: "Easy to Learn",
        description:
          "AQ’s simplicity doesn’t sacrifice power. It’s an accessible language that doesn’t overwhelm newcomers, yet it satisfies seasoned programmers with its capabilities.",
      },
    ]}
    image={{
      src: "https://github.com/aq-org/AQ/blob/main/aq.png?raw=true",
      alt: "AQ Programming Language Logo",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Embracing the Core Values
      </h3>
      Emphasizing simplicity and performance, AQ offers a streamlined development
      process without compromising on power or security.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Explore AQ Insights"
    information={`The blog features articles, updates, and tutorials about the AQ language and its ecosystem. Stay informed about new releases, features, and community events.`}
  />
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Common Queries about AQ"
    subtitle="Your questions about AQ, answered"
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "What makes AQ different?",
        description:
          "AQ combines the ease of a scripting language with the power of a compiled language, offering both development speed and runtime efficiency.",
      },
      {
        title: "Is AQ suitable for beginners?",
        description:
          "Absolutely. Its straightforward syntax and powerful standard library make AQ an excellent choice for those starting their programming journey.",
      },
      {
        title: "What can I build with AQ?",
        description:
          "From web services to data analysis scripts, AQ’s versatility allows it to fit various programming domains and projects.",
      },
      // Add more FAQs as needed
    ]}
  />
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Start with AQ",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        icon: "tabler:play",
      },
    ]}
  >
    <Fragment slot="title"> Ready to Dive into AQ? </Fragment>

    <Fragment slot="subtitle">
      Join the revolution of a programming language that is setting new
      standards in simplicity and performance. Let’s get coding with AQ!
    </Fragment>
  </CallToAction>
</Layout>
