---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

import CodeImg from '../assets/images/code.png';
import DevelopImg from '../assets/images/develop.jpg';
import NetImg from '../assets/images/net.jpg';
import WorkImg from '../assets/images/work.jpg';
const metadata = {
  title: "AQ — El Lenguaje de Programación Simple, Rápido y Seguro",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Empieza a Desarrollar con AQ"
    actions={[
      {
        variant: "primary",
        text: "Comenzar",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        // icon: "tabler:download",
      },
      { text: "Aprende más", href: "#features" },
    ]}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">El rápido, pequeño y simple</span><br />
      <span class="text-accent dark:text-white highlight"> AQ </span>
      Lenguaje de Programación
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AQ</span> es un lenguaje de programación interpretado.
        Es rápido, pequeño, simple y seguro. Al mismo tiempo, los programas escritos en
        AQ también pueden ser compilados.</span
      >
      Puede ser una gran obra.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Características"
    title="Experimenta el Lenguaje AQ"
    subtitle="Un lenguaje de programación interpretado moderno diseñado para la simplicidad y la seguridad. AQ se ha convertido rápidamente en una opción destacada para los desarrolladores."
    items={[
      {
        title: "Rápido e Interpretado",
        description:
          "La velocidad de AQ es notable, lo que lo convierte en una opción rápida para el desarrollo. Puede ser interpretado para facilidad de uso o compilado para eficiencia.",
        // icon: "tabler:speedboat",
      },
      {
        title: "Pequeño y Simple",
        description:
          "AQ mantiene las cosas pequeñas y simples, con un enfoque en ofrecer funcionalidad sin complicar demasiado el proceso de desarrollo.",
        // icon: "tabler:layout-kanban",
      },
      {
        title: "Seguridad y Protección",
        description:
          "Con un compromiso con los estándares de codificación segura, AQ proporciona una gestión robusta de la memoria y salvaguardas contra vulnerabilidades comunes.",
        // icon: "tabler:shield-lock",
      },
      {
        title: "Compatibilidad Multiplataforma",
        description:
          "AQ es versátil y compatible con múltiples plataformas, incluyendo Windows, Linux y MacOS, haciéndolo accesible para cualquier desarrollador.",
        // icon: "tabler:device-desktop",
      },
      {
        title: "Comunidad de Código Abierto",
        description:
          "Una comunidad activa de código abierto impulsa AQ hacia adelante, fomentando la colaboración, la innovación y la mejora continua.",
        // icon: "tabler:users",
      },
      {
        title: "Sintaxis Versátil",
        description:
          "Adoptando un estilo de sintaxis similar a C++, AQ facilita a los desarrolladores dominarlo y aprovecharlo en varios escenarios de programación.",
        // icon: "tabler:code",
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inspirado por AQ"
    title="La Innovación de AQ: Donde la Velocidad se Encuentra con la Simplicidad"
    items={[
      {
        title: "Rápido y Eficiente",
        description:
          "Diseñado para el rendimiento, AQ ofrece una velocidad impresionante tanto para el desarrollo como para la ejecución en tiempo de ejecución.",
      },
      {
        title: "Simple y Pequeño",
        description:
          "Fiel a sus principios de diseño, AQ es directo y ligero, facilitando una curva de aprendizaje más fácil y bases de código más simples.",
      },
      {
        title: "Seguro y Protegido",
        description:
          "La seguridad es una característica central de AQ, asegurando que los programas no solo sean rápidos y fáciles de escribir, sino también seguros desde el principio.",
      },
    ]}
    image={{
      src: CodeImg,
      alt: "Código con AQ",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Aprovecha el Poder de AQ
      </h3>
      Lleva tu desarrollo al siguiente nivel aprovechando la simplicidad y el rendimiento
      de AQ.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: "Adaptabilidad del Lenguaje sin Esfuerzo",
        description:
          "La sintaxis simple y la huella pequeña de AQ lo hacen increíblemente adaptable a una variedad de necesidades de programación, mejorando la eficiencia del desarrollador.",
      },
      {
        title: "Interpretado o Compilado",
        description:
          "Con AQ, disfruta de la flexibilidad de elegir entre ejecución interpretada o compilada para adecuarse a los requisitos de tu proyecto y rendimiento.",
      },
      {
        title: "Estándares de Seguridad Impecables",
        description:
          "AQ pone un fuerte énfasis en la seguridad, proporcionando tranquilidad con una gestión segura de la memoria y una inspección proactiva del código para prevenir vulnerabilidades.",
      },
      {
        title: "Soporte Extensivo de Plataformas",
        description:
          "Las capacidades multiplataforma de AQ aseguran que tus proyectos permanezcan versátiles, funcionando sin problemas en Windows, Linux, MacOS y más.",
      },
    ]}
    image={{
      src: WorkImg,
      alt: "Trabaja con AQ",
    }}
  >
    <Fragment slot="content">
      Haz que tu proceso de desarrollo se destaque con la combinación única de velocidad,
      simplicidad y seguridad de AQ.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: "Mayor compromiso del usuario",
        description:
          "Involucra a tu audiencia con un lenguaje de programación diseñado para el desarrollo rápido y el rendimiento. La simplicidad y rapidez de AQ crean interacciones de usuario cautivadoras.",
      },
      {
        title: "Mejora continua",
        description:
          "AQ está en constante evolución con las necesidades de la comunidad de programación, asegurando que tus proyectos se mantengan actualizados con las últimas prácticas en seguridad y eficiencia del software.",
      },
      {
        title: "Eficiencia en tiempo y recursos",
        description:
          "Con la facilidad de uso del lenguaje de programación AQ, ahorra tiempo y recursos valiosos. Su sintaxis directa y eficiencia compilada simplifican los flujos de trabajo de desarrollo.",
      },
      {
        title: "Soporte comunitario",
        description:
          "Sé parte de la vibrante comunidad de AQ para obtener soporte, ideas y oportunidades de colaboración que enriquezcan tu conocimiento y productividad en programación.",
      },
    ]}
    image={{
      src: NetImg,
      alt: "AQ NET",
    }}
  >
    <Fragment slot="content"
      >Empodera tu desarrollo con la eficiencia simplificada de AQ.</Fragment
    >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Mejora la eficiencia de tu desarrollo con AQ."
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Descarga AQ</span>',
        description:
          "Comienza con la fácil configuración de AQ. Ejecuta la instalación y estarás listo para empezar a programar con un lenguaje diseñado para la claridad y eficiencia.",
        // icon: "tabler:download",
      },
      {
        title: 'Paso 2: <span class="font-medium">Escribe Código</em>',
        description:
          "Sumérgete en AQ. Su sintaxis simple, similar a C++, facilita el aprendizaje y la traducción rápida de tu lógica en código funcional.",
        // icon: "tabler:code",
      },
      {
        title: 'Paso 3: <span class="font-medium">Optimiza y Compila</span>',
        description:
          "Aprovecha la rápida compilación y ejecución de AQ para afinar el rendimiento. Disfruta de la flexibilidad de la ejecución interpretada o compilada para adecuarse a tus necesidades de despliegue.",
        // icon: "tabler:adjustments",
      },
      {
        title: "¡Despliega!",
        // icon: "tabler:rocket",
      },
    ]}
    image={{
      src: DevelopImg,
      alt: "Entorno de Trabajo AQ",
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Componentes de desarrollo AQ más utilizados"
    subtitle="Bloques de construcción esenciales para desarrollar aplicaciones con el lenguaje AQ"
    tagline="Componentes"
    items={[
      {
        title: "Compilador Rápido",
        description:
          "Al igual que un sistema GPS eficiente, el compilador AQ guía el código rápidamente a su estado optimizado.",
        // icon: "flat-color-icons:template",
      },
      {
        title: "Editor Integrado",
        description:
          "El espacio de trabajo principal donde ocurre la magia; un editor ajustado para AQ da vida a tu código, ¡al estilo de los superhéroes!",
        // icon: "flat-color-icons:gallery",
      },
      {
        title: "Herramientas de Depuración",
        description:
          "Donde tu código AQ muestra su robustez. Es hora de eliminar los errores y destacarse, ¡sin jactarse!",
        // icon: "flat-color-icons:approval",
      },
      {
        title: "Gestión de Bibliotecas",
        description:
          "El núcleo del desarrollo AQ; es donde integras poderosas bibliotecas y pasas de la mera observación a la creación plena.",
        // icon: "flat-color-icons:document",
      },
      {
        title: "Kits Multiplataforma",
        description:
          "Este conjunto de herramientas es tu guía entusiasta, empujando tu código AQ a ejecutarse en múltiples plataformas. ¡Adelante, abraza esa aventura!",
        // icon: "flat-color-icons:advertising",
      },
      {
        title: "Métricas de Rendimiento",
        description:
          "Una mirada al menú de postres, revelando las delicias de rendimiento y optimización que te esperan.",
        // icon: "flat-color-icons:currency-exchange",
      },
      {
        title: "Retroalimentación Comunitaria",
        description:
          "Entra en el rincón de chismes de AQ, donde los testimonios validan el poder del lenguaje a través de historias de éxito compartidas.",
        // icon: "flat-color-icons:voice-presentation",
      },
      {
        title: "Soporte para Desarrolladores",
        description:
          "Tu buzón digital para consultas sobre AQ; contacta, obtén respuestas o celebra éxitos. ¡Nuestra comunidad responde rápidamente!",
        // icon: "flat-color-icons:business-contact",
      },
      {
        title: "Notas al Pie de Documentación",
        description:
          "No te pierdas los créditos que se desplazan hacia abajo; las notas al pie de la documentación de AQ están llenas de tesoros ocultos.",
        // icon: "flat-color-icons:database",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Profundiza en AQ"
    information={`Explora nuestras publicaciones de blog seleccionadas para obtener guías completas sobre el lenguaje AQ. Cada artículo es un paso hacia el dominio del arte de este lenguaje de programación simple y seguro. Descubre los matices que hacen de AQ una opción atractiva para tus proyectos de desarrollo.`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes sobre el Lenguaje AQ"
    subtitle="¿Tienes preguntas sobre AQ? Aquí tienes algunas de las consultas más comunes respondidas para ayudarte a entender el enfoque del lenguaje hacia la programación simple y segura."
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "¿Qué hace que AQ se destaque?",
        description:
          "La sintaxis directa y el modelo de ejecución eficiente de AQ lo hacen destacar entre la multitud. Está diseñado para aprenderse rápidamente mientras proporciona características de seguridad robustas para el desarrollo de software moderno.",
      },
      {
        title: "¿Cómo puedo comenzar con AQ?",
        description:
          "Comenzar con AQ es tan simple como su sintaxis. Todo lo que necesitas es visitar el repositorio oficial de AQ en GitHub, clonarlo y seguir las instrucciones proporcionadas en el archivo readme para configurar tu entorno de desarrollo.",
      },
      {
        title: "¿Cuáles son los requisitos del sistema para AQ?",
        description:
          "AQ no exige mucho, solo un sistema que pueda ejecutar el intérprete o el compilador. Ya sea que estés en Windows, Linux o MacOS, puedes comenzar con AQ de inmediato.",
      },
      {
        title: "¿Es AQ adecuado como mi primer lenguaje de programación?",
        description:
          "¡Absolutamente! La simplicidad de AQ y su semejanza con C++ lo hacen un excelente punto de partida para los principiantes. Además, la comunidad está lista para ayudar si alguna vez te encuentras en un aprieto.",
      },
      {
        title: "¿Puedo contribuir al proyecto AQ?",
        description:
          "Sí, ¡los contribuyentes son bienvenidos! AQ es un proyecto de código abierto y alentamos las contribuciones, ya sea en codificación, documentación o soporte comunitario.",
      },
      {
        title: "¿Dónde puedo encontrar más información sobre AQ?",
        description:
          "Puedes dirigirte a la documentación oficial de AQ para guías detalladas, visitar el repositorio para el código fuente o participar en los foros comunitarios para cualquier consulta personal que puedas tener.",
      },
    ]}
  />

  <!-- Contact Us Widget ************* -->

  <section class="py-16 bg-white dark:bg-gray-900">
    <div class="container mx-auto px-6 text-center">
      <h1 class="text-3xl font-semibold text-gray-800 dark:text-white lg:text-4xl">
        Contáctanos
      </h1>
      <p class="text-gray-600 dark:text-gray-400 mt-6">
        Si tienes alguna pregunta sobre AQ o cualquier otra preocupación, incluso si no están relacionadas con AQ, no dudes en contactarnos. Estamos encantados de interactuar contigo en cualquier tema.
      </p>
      <p class="text-gray-600 dark:text-gray-400 mt-2">
        Puedes contactarnos a través de GitHub, Twitter, Discord y Email. Recomendamos usar GitHub y Email para una respuesta más rápida.
      </p>

      <div class="flex justify-center mt-8">
        <a href="https://github.com/aq-org/AQ" class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-200 focus:text-gray-700 dark:focus:text-gray-200">
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M12 .5a12.5 12.5 0 00-4 24c.6.1.8-.3.8-.6v-2c-3.2.7-4-1.3-4-1.3a3.15 3.15 0 00-1.3-1.8c-1.1-.8 0-.8 0-.8a2.5 2.5 0 011.8 1.2A2.72 2.72 0 009.4 21c.9-1.4.7-2.9.6-3.3-.5-1-1.7-1.7-3-2-.1-.4-.4-1.1 0-2.3 0 0 .8-.2 2.5 1a8.7 8.7 0 015 0c1.7-1.2 2.5-1 2.5-1 .5 1.1.2 1.9 0 2.3-.2.4-.8 1-1.5 1.2C14.3 18.4 14 21 14 21v2c0 .3.2.7.8.6A12.5 12.5 0 0012 .5z"></path></svg>
        </a>
        <a href="https://x.com/aq_organization" class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-200 focus:text-gray-700 dark:focus:text-gray-200">
          <span class="sr-only">X</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M23.1 4.6c-.8.4-1.6.6-2.5.8.9-.6 1.5-1.4 1.8-2.5-.8.5-1.7.9-2.7 1.1a4.5 4.5 0  00-7.7 4.1 12.8 12.8 0 01-9.3-4.7c-.8 1.4-.3 3.2 1.2 4a4.5 4.5 0 01-2.1-.6c0 1.4 1 2.6 2.3 2.9-.8.1-1.5.3-2.2 0 0 1.8 1.3 3.3 3.2 3.6a9.1 9.1 0 01-5.7 1.6 12.8 12.8 0 006.9 2h9.7c12 0 15.5-10 15.5-18.7v-.9C22 7 23 5.8 23.1 4.6z"></path></svg>
        </a>
        <a href="https://discord.gg/JCKzxavG" class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-200 focus:text-gray-700 dark:focus:text-gray-200">
          <span class="sr-only">Discord</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M20.3 3a15.4 15.4 0 00-4.6-.7 13.6 13.6 0 00-7.1 0A14.6 14.6 0 003 5c-3.2 5.6-3.5 11.1-3.1 13.6a15.2 15.2 0 004.6 1.4 13 13 0 003.2-4        .8a5.37 5.37 0 01-3-1.6l.7-1.5a6.03 6.03 0 003.3 1.5c.1.9.4 1.9 1 2.6a2.7 2.7 0 002.2 1.1 3.38 3.38 0 002.2-1.1 5.94 5.94 0 001-2.5 6.05 6.05 0 003.3-1.5l.6 1.5a5.02 5.02 0 01-2.9 1.5c1 1.8 2.3 3.7 3.9 4.8A13.53 13.53 0 0021 5c0-.1-.2 0-.4.3z"></path></svg>
        </a>
        <a href="mailto:admin@axa6.com" class="mx-2 text-gray-600 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-200 focus:text-gray-700 dark:focus:text-gray-200">
          <span class="sr-only">Email</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M19.5 4h-15c-1 0-1.5.7-1.5 1.3V18c0 1.3 1 1.5 1.5 1.6h15c1.4 0 1.5-1 1.6-1.6V5.3c0-1-.7-1.3-1.5-1.3zM19 7l-7 4c-.3.1-.6.1-.9 0L4 7v1l7.5 4.4c.3.2.6.2.9.1L19 8v-1z"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Explora AQ",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        // icon: "tabler:download",
      },
    ]}
  >
    <Fragment slot="title">
      Acelera con&nbsp;<br class="block sm:hidden" /><span
        class="sm:whitespace-nowrap">Programación AQ</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Desata el potencial de una codificación rápida, simple y segura con AQ. <br
        class="hidden md:inline"
      />¡Comienza tu viaje de desarrollo hoy mismo!
    </Fragment>
  </CallToAction>
</Layout>