---
import Layout from '~/layouts/PageLayout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const metadata = {
  title: "404 Non Trouvé - AQ",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Erreur</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">Désolé, nous n'avons pas pu trouver cette page.</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          Mais ne vous inquiétez pas, vous pouvez trouver plein d'autres choses sur notre page d'accueil.
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Retour à la page d'accueil</a>
      </div>
    </div>
  </section>
</Layout>