---
import Layout from "~/layouts/ru/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

import CodeImg from '../../../assets/images/code.png';
import DevelopImg from '../../../assets/images/develop.jpg';
import NetImg from '../../../assets/images/net.jpg';
import WorkImg from '../../../assets/images/work.jpg';
const metadata = {
  title: "AQ Community — Соединяя разработчиков по всему миру",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Виджет Hero ******************* -->

  <Hero
    tagline="Присоединяйтесь к сообществу AQ"
    actions={[
      {
        variant: "primary",
        text: "Начать",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        // icon: "tabler:download",
      },
      
    ]}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Соединяя и поддерживая</span><br />
      <span class="text-accent dark:text-white highlight"> AQ </span>
      Сообщество
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Присоединяйтесь к живому сообществу AQ, делитесь своими идеями и сотрудничайте с разработчиками по всему миру. Временное сообщество AQ доступно на Discord и Github, пока мы завершаем официальную платформу сообщества.
        </span>
    </Fragment>
  </Hero>

  <!-- Виджет Note ******************* -->

  <Note content="Хотя официальная платформа сообщества AQ все еще находится в стадии строительства, вы можете общаться и общаться с коллегами-разработчиками AQ на Discord и GitHub." />, 

  <!-- Виджет Features *************** -->

  <Features
    id="features"
    tagline="Преимущества сообщества"
    title="Почему присоединиться к сообществу AQ"
    subtitle="Сообщество AQ - это процветающая экосистема, где разработчики объединяются для инноваций, обмена знаниями и поддержки друг друга. Вот что вы можете ожидать:"
    items={[
      {
        title: "Активное сотрудничество",
        description:
          "Общайтесь с другими разработчиками, делитесь своими проектами и сотрудничайте над инновационными идеями.",
        // icon: "tabler:users",
      },
      {
        title: "Мгновенная поддержка",
        description:
          "Получайте своевременную помощь от опытных разработчиков и членов сообщества.",
        // icon: "tabler:help",
      },
      {
        title: "Обмен знаниями",
        description:
          "Получайте доступ к обширной информации через общие ресурсы, учебники и обсуждения.",
        // icon: "tabler:book",
      },
      {
        title: "Разработка с открытым исходным кодом",
        description:
          "Принимайте участие в открытых проектах AQ и помогайте развивать язык вперед.",
        // icon: "tabler:code",
      },
      {
        title: "Возможности для сетевого взаимодействия",
        description:
          "Устанавливайте профессиональные связи с другими разработчиками и экспертами отрасли.",
        // icon: "tabler:network",
      },
      {
        title: "События сообщества",
        description:
          "Участвуйте в мероприятиях, хакатонах и собраниях, органfromованных сообществом AQ.",
        // icon: "tabler:calendar",
      },
    ]}
  />

  <!-- Виджет Content **************** -->

  <Content
    isReversed
    tagline="Примите участие"
    title="Присоединяйтесь к временным платформам сообщества AQ"
    items={[
      {
        title: "Discord",
        description:
          "Общайтесь с сообществом AQ в реальном времени, делитесь своими успехами и получайте мгновенную обратную связь.",
      },
      {
        title: "Github",
        description:
          "Сотрудничайте над кодом, поднимайте проблемы и вносите вклад в развитие AQ на GitHub.",
      },
    ]}
    image={{
      src: CodeImg,
      alt: "Код с AQ",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Где встречаются разработчики
      </h3>
      Станьте активным участником сообщества AQ уже сегодня, присоединившись к нам на Discord и GitHub.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Виджет Steps ****************** -->

  <Steps
    title="Присоединяйтесь к сообществу AQ в три простых шага"
    items={[
      {
        title: 'Шаг 1: <span class="font-medium">Присоединитесь к Discord</span>',
        description:
          "Зарегистрируйтесь на нашем сервере Discord и начните участвовать в обсуждениях.",
        // icon: "tabler:message-circle",
      },
      {
        title: 'Шаг 2: <span class="font-medium">Подпишитесь на нас на GitHub</span>',
        description:
          "Форкните наш репозиторий, вносите вклад в код и оставайтесь в курсе последних разработок.",
        // icon: "tabler:git-merge",
      },
      {
        title: 'Шаг 3: <span class="font-medium">Участвуйте и вносите свой вклад</span>',
        description:
          "Делитесь своими идеями, давайте обратную связь и помогайте другим участникам сообщества.",
        // icon: "flat-color-// icons:data-configuration",
      },
    ]}
    image={{
      src: DevelopImg,
      alt: "Присоединяйтесь к сообществу AQ",
    }}
  />

  <!-- Виджет Features2 ************** -->

  <Features2
    title="Почему сообщество AQ выделяется"
    subtitle="Ключевые преимущества участия в сообществе AQ"
    tagline="Основные моменты сообщества"
    items={[
      {
        title: "Инклюзивная среда",
        description:
          "Мы содействуем созданию инклюзивной среды, где все разработчики, независимо от уровня навыков, приветствуются.",
        // icon: "flat-color-// icons:approval",
      },
      {
        title: "Непрерывное обучение",
        description:
          "Оставайтесь впереди событий с непрерывными возможностями обучения и ресурсами.",
        // icon: "flat-color-// icons:education",
      },
      {
        title: "Совместные проекты",
        description:
          "Работайте над проектами с открытым исходным кодом, приобретайте практический опыт и расширяйте свое портфолио.",
        // icon: "flat-color-// icons:data-configuration",
      },
      {
        title: "Возможности менторства",
        description:
          "Найдите наставников, которые проведут вас через ваш путь обучения и профессионального развития.",
        // icon: "flat-color-// icons:support",
      },
      {
        title: "Глобальное сообщество",
        description:
          "Присоединяйтесь к глобальному сообществу разработчиков, разделяющих вашу страсть к кодированию и инновациям.",
        // icon: "flat-color-// icons:group",
      },
      {
        title: "Обмен ресурсами",
        description:
          "Получайте доступ к ценным ресурсам, таким как фрагменты кода, учебники и инструменты разработки, и делитесь ими.",
        // icon: "flat-color-// icons:digital-nomad",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Виджет HighlightedPosts ******* -->

  <BlogLatestPosts
    title="Узнайте больше о AQ"
    information={`Погрузитесь в наши подобранные блог-посты для глубоких руководств и статей о языке AQ. Откройте стратегии, советы и обновления, которые делают AQ лучшим выбором для разработчиков.`}
  />

  <!-- Виджет FAQs ******************* -->

  <FAQs
    title="FAQs сообщества AQ"
    subtitle="Часто задаваемые вопросы о AQ и нашем сообществе."
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "Почему мне стоит присоединиться к сообществу AQ?",
        description:
          "Присоединение к сообществу AQ предоставляет вам сеть поддержки разработчиков, доступ к общим ресурсам и возможности внести вклад в проекты с открытым исходным кодом.",
      },
      {
        title: "Как я могу участвовать в сообществе AQ?",
        description:
          "Вы можете принять участие, присоединившись к нашему Discord, следуя за нами на GitHub, внося код и участвуя в обсуждениях и мероприятиях.",
      },
      {
        title: "Подходит ли сообщество AQ для начинающих?",
        description:
          "Абсолютно! Сообщество AQ радушно принимает разработчиков всех уровней навыков и предоставляет ресурсы и поддержку для начинающих.",
      },
      {
        title: "Могу ли я внести вклад в развитие AQ?",
        description:
          "Да, мы поощряем вклады! Посетите наш репозиторий на GitHub, сделайте форк и начните вносить вклад в проекты AQ.",
      },
      {
        title: "Где я могу найти больше ресурсов по AQ?",
        description:
          "Загляните в наш блог для последних статей, посетите наш GitHub для исходного кода и присоединитесь к нашему Discord для поддержки сообщества.",
      },
      {
        title: "Что проfromойдет, когда будет готова официальная платформа сообщества?",
        description:
          "Как только официальная платформа будет готова, мы перейдем с Discord и GitHub на новую платформу, обеспечивая плавный переход для всех участников.",
      },
    ]}
  />

  <!-- Виджет CallToAction *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Присоединиться к сообществу AQ",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        // icon: "tabler:download",
      },
    ]}
  >
    <Fragment slot="title">
      Общайтесь с&nbsp;<br class="block sm:hidden" /><span
        class="sm:whitespace-nowrap">сообществом AQ      </span>
      </Fragment>
  
      <Fragment slot="subtitle">
        <span class="hidden sm:inline">
          Станьте активным участником сегодня и создайте связи с разработчиками по всему миру.
        </span>
      </Fragment>
    </CallToAction>
  </Layout>