---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

import WorkImg from '../../assets/images/work.jpg';

const metadata = {
  title: "Команда",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Познакомьтесь с нашей командой"
    actions={[
      {
        variant: "primary",
        text: "Посмотреть на Github",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        // icon: "tabler:github",
      },
    ]}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Команда </span> AQ
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Наша команда движима инновациями и сотрудничеством, делая AQ выдающимся выбором для разработчиков по всему миру.
      </span>
    </Fragment>
  </Hero>

  <Content
    items={[
      {
        title: "Наша миссия",
        description:
          "В AQ наша миссия - создать быстрый, простой и безопасный язык программирования, отвечающий потребностям современных разработчиков.",
      },
      {
        title: "Наше видение",
        description:
          "Мы видим мир, где программирование доступно, эффективно и приносит удовольствие каждому благодаря силе AQ.",
      },
    ]}
    image={{
      src: WorkImg,
      alt: "Команда AQ",
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Наша команда
      </h3>
      Наша отдельная команда разработчиков, дизайнеров и менеджеров сообщества неустанно работает над улучшением AQ и поддержкой нашего растущего пользовательского сообщества.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Note>
    Наша команда в настоящее время в основном работает на Github. Более подробную информацию о наших участниках вы можете найти на Github.
  </Note>

  <BlogLatestPosts
    title="Инсайты команды"
    information={`Познакомьтесь с внутренними работами AQ через блог-посты нашей команды. Узнайте о наших процессах разработки, взаимодействии с сообществом и планах на будущее.`}
  />

  <FAQs
    title="Часто задаваемые вопросы"
    subtitle="Узнайте больше о нашей команде и о работе, которую мы выполняем"
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "Кто является основными участниками команды AQ?",
        description:
          "Наша основная команда состоит из опытных разработчиков, увлеченных созданием простого и быстрого языка программирования, которым может воспользоваться каждый.",
      },
      {
        title: "Как я могу присоединиться к сообществу AQ?",
        description:
          "Вы можете присоединиться к нашему сообществу, внесая вклад в наш репозиторий на GitHub, участвуя в обсуждениях на наших форумах или участву      вая в наших проектах с открытым исходным кодом."
      },
      {
        title: "Где находится команда AQ?",
        description:
          "Наша команда распределена по всему миру, работая удаленно, чтобы привести AQ к разработчикам везде.",
      },
      {
        title: "Как я могу внести вклад в AQ?",
        description:
          "Вы можете внести вклад в AQ, представив код, сообщив о проблемах или помогая улучшить нашу документацию на GitHub.",
      },
      {
        title: "Каковы будущие планы для AQ?",
        description:
          "Мы стремимся непрерывно улучшать AQ, добавляя новые функции, оптимизируя производительность и расширяя наше сообщество.",
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Исследуйте AQ",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        // icon: "tabler:github",
      },
    ]}
  >
    <Fragment slot="title">
      Присоединяйтесь к&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">сообществу AQ</span
    </Fragment>

    <Fragment slot="subtitle">
      Сотрудничайте с единомышленниками разработчиками и помогайте формировать будущее быстрого, простого и безопасного программирования с AQ.
    </Fragment>
  </CallToAction>
</Layout>