---
import { SITE } from 'astrowind:config';
---

<div class="flex items-center">
  <img
    src="https://www.axa6.com/aq.png"
    alt={SITE?.name}
    class="w-10 h-10 md:w-8 md:h-8 object-cover rounded-full border border-gray-300 dark:border-gray-700 shadow-md dark:shadow-none mr-2"
  />
  <span class="text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">AQ</span>
</div>