---
import Layout from '~/layouts/zh/PageLayout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const metadata = {
  title: "404 Not Found - AQ",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">错误</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">抱歉，我们找不到此页面。</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          但不要担心，在我们的主页上您可以找到很多其他内容。
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">返回首页</a>
      </div>
    </div>
  </section>
</Layout>