---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import BlogLatestPosts from "~/components/widgets/BlogLatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

import CodeImg from '../assets/images/code.png';
import DevelopImg from '../assets/images/develop.jpg';
import NetImg from '../assets/images/net.jpg';
import WorkImg from '../assets/images/work.jpg';
const metadata = {
  title: "AQ — The Simple, Fast, and Secure Programming Language",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Начните разрабатывать с AQ"
    actions={[
      {
        variant: "primary",
        text: "Начать",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        icon: "tabler:download",
      },
      { text: "Узнать больше", href: "#features" },
    ]}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Быстрый, маленький и простой</span><br />
      <span class="text-accent dark:text-white highlight"> AQ </span>
      Язык программирования
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AQ</span> AQ - это интерпретируемый язык программирования.
        Он быстр, мал, прост и безопасен. В то же время программы, написанные на
        AQ, также могут быть скомпилированы.</span
      >
      Может быть отличным произведением.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Особенности"
    title="Опыт языка AQ"
    subtitle="Современный интерпретируемый язык программирования, разработанный для простоты и безопасности. AQ быстро стал выдающимся выбором для разработчиков."
    items={[
      {
        title: "Быстрый и интерпретируемый",
        description:
          "Скорость AQ заметна, что делает его быстрым выбором для разработки. Он может быть как интерпретирован для удобства использования, так и скомпилирован для эффективности.",
        icon: "tabler:speedboat",
      },
      {
        title: "Маленький и простой",
        description:
          "AQ держит вещи маленькими и простыми, с акцентом на предоставлении функциональности без усложнения процесса разработки.",
        icon: "tabler:layout-kanban",
      },
      {
        title: "Безопасность и защита",
        description:
          "С обязательством к стандартам безопасного кодирования AQ обеспечивает надежное управление памятью и защиту от распространенных уязвимостей.",
        icon: "tabler:shield-lock",
      },
      {
        title: "Совместимость с различными платформами",
        description:
          "AQ универсален и поддерживает несколько платформ, включая Windows, Linux и MacOS, что делает его доступным для любого разработчика.",
        icon: "tabler:device-desktop",
      },
      {
        title: "Сообщество с открытым исходным кодом",
        description:
          "Активное сообщество с открытым исходным кодом толкает AQ вперед, способствуя сотрудничеству, инновациям и непрерывному улучшению.",
        icon: "tabler:users",
      },
      {
        title: "Гибкий синтаксис",
        description:
          "Принимая стиль синтаксиса, подобный C++, AQ облегчает разработчикам освоение и использование в различных сценариях программирования.",
        icon: "tabler:code",
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Вдохновленный AQ"
    title="Инновации AQ: Где Скорость Встречает Простоту"
    items={[
      {
        title: "Быстрый и эффективный",
        description:
          "Созданный для производительности, AQ предлагает впечатляющую скорость как для разработки, так и для выполнения во время работы.",
      },
      {
        title: "Простой и маленький",
        description:
          "По верным принципам дизайна, AQ прост и легок, облегчая изучение и упрощая кодовые базы.",
      },
      {
        title: "Безопасный и надежный",
        description:
          "Безопасность - ключевая особенность AQ, гарантируя, что программы не только быстрые и легкие для написания, но и защищены с самого начала.",
      },
    ]}
    image={{
      src: CodeImg,
      alt: "Code with AQ",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Примите силу AQ
      </h3>
      Поднимите вашу разработку на новый уровень, используя простоту и производительность
      AQ
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: "Простая адаптация языка",
        description:
          "Простой синтаксис и небольшой размер AQ делают его невероятно адаптивным к различным потребностям программирования, повышая эффективность разработчика.",
      },
      {
        title: "Интерпретированный или скомпилированный",
        description:
          "С AQ вы можете насладиться гибкостью выбора между интерпретированным или скомпилированным выполнением, чтобы соответствовать вашим требованиям к проекту и производительности.",
      },
      {
        title: "Отличные стандарты безопасности",
        description:
          "AQ уделяет большое внимание безопасности, обеспечивая уверенность с надежным управлением памятью и проактивной проверкой кода для предотвращения уязвимостей.",
      },
      {
        title: "Обширная поддержка платформ",
        description:
          "Кроссплатформенные возможности AQ гарантируют, что ваши проекты остаются универсальными, плавно работая на Windows, Linux, MacOS и не только.",
      },
    ]}
    image={{
      src: WorkImg,
      alt: "Work with AQ",
    }}
  >
    <Fragment slot="content">
      Сделайте ваш процесс разработки выдающимся с уникальным сочетанием скорости,
      простоты и безопасности AQ.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: "Улучшенное взаимодействие с пользователем",
        description:
          "Привлекайте аудиторию с языком программирования, разработанным для быстрой разработки и производительности. Простота и скорость AQ создают захватывающие пользовательские взаимодействия.",
      },
      {
        title: "Непрерывное улучшение",
        description:
          "AQ постоянно развивается в соответствии с потребностями программного сообщества, гарантируя, что ваши проекты остаются актуальными с последними практиками в области безопасности и эффективности программного обеспечения.",
      },
      {
        title: "Экономия времени и ресурсов",
        description:
          "С простотой использования языка программирования AQ экономьте драгоценное время и ресурсы. Его простой синтаксис и скомпилированная эффективность оптимизируют рабочие процессы разработки.",
      },
      {
        title: "Поддержка сообщества",
        description:
          "Станьте частью живого сообщества AQ для поддержки, понимания и совместных возможностей, обогащающих ваше программирование и продуктивность.",
      },
    ]}
    image={{
      src: NetImg,
      alt: "AQ NET",
    }}
  >
    <Fragment slot="content"
      >Усилите свою разработку с улучшенной эффективностью AQ.</Fragment
    >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Повысьте эффективность вашей разработки с AQ."
    items={[
      {
        title: 'Шаг 1: <span class="font-medium">Скачать AQ</span>',
        description:
          "Начните с простой установки AQ. Запустите установку, и вы готовы начать кодировать с языком, разработанным для ясности и эффективности.",
        icon: "tabler:download",
      },
      {
        title: 'Шаг 2: <span class="font-medium">Написать код</em>',
        description:
          "Погрузитесь в AQ. Его простой синтаксис, похожий на C++, облегчает изучение и начало перевода вашей логики в функциональный код быстро.",
        icon: "tabler:code",
      },
      {
        title: 'Шаг 3: <span class="font-medium">Оптимизировать и скомпилировать</span>',
        description:
          "Используйте быструю компиляцию и выполнение AQ для настройки производительности. Наслаждайтесь гибкостью интерпретированного или скомпилированного выполнения, чтобы соответствовать вашим потребностям развертывания.",
        icon: "tabler:adjustments",
      },
      {
        title: "Развернуть!",
        icon: "tabler:rocket",
      },
    ]}
    image={{
      src: DevelopImg,
      alt: "AQ Work Environment",
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Самые используемые компоненты разработки AQ"
    subtitle="Основные строительные блоки для разработки приложений с языком AQ"
    tagline="Компоненты"
    items={[
      {
        title: "Быстрый компилятор",
        description:
          "Как эффективная система GPS, компилятор AQ быстро направляет код к оптимизированному состоянию.",
        icon: "flat-color-icons:template",
      },
      {
        title: "Интегрированный редактор",
        description:
          "Основное рабочее пространство, где происходит волшебство; редактор, настроенный для AQ, оживляет ваш код, как супергерои!",
        icon: "flat-color-icons:gallery",
      },
      {
        title: "Инструменты отладки",
        description:
          "Где ваш код AQ демонстрирует свою надежность. Пора устранить недочеты и встать на высоту, не щадя хвастовства!",
        icon: "flat-color-icons:approval",
      },
      {
        title: "Управление библиотеками",
        description:
          "Основа разработки AQ; здесь вы интегрируете мощные библиотеки и переходите от простого просмотра к полноценному созданию!",
        icon: "flat-color-icons:document",
      },
      {
        title: "Кроссплатформенные наборы",
        description:
          "Этот набор инструментов - ваш энтузиастический проводник, толкающий ваш код AQ к запуску на множестве платформ - отправляйтесь на это приключение!",
        icon: "flat-color-icons:advertising",
      },
      {
        title: "Метрики производительности",
        description:
          "Взгляд на меню десертов, раскрывающий угощения производительности и оптимизационные деликатесы, которые ждут вас.",
        icon: "flat-color-icons:currency-exchange",
      },
      {
        title: "Обратная связь сообщества",
        description:
          "Войдите в уголок сплетен AQ, где отзывы подтверждают мастерство языка через общие истории успеха.",
        icon: "flat-color-icons:voice-presentation",
      },
      {
        title: "Поддержка разработчиков",
        description:
          "Ваша цифровая почта для запросов по AQ; обращайтесь, получайте ответы или празднуйте победы - наше сообщество быстро реагирует!",
        icon: "flat-color-icons:business-contact",
      },
      {
        title: "Сноски документации",
        description:
          "Не пропустите титры, прокручивая вниз; сноски документации AQ усыпаны скрытыми сокровищами!",
        icon: "flat-color-icons:database",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Поглубже в мир AQ"
    information={`Просматривайте наши отобранные блог-посты для полного понимания языка AQ. Каждая статья - шаг к овладению мастерством этого простого и безопасного языка программирования. Откройте тонкости, делающие AQ привлекательным выбором для ваших проектов разработки.`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Ответы на вопросы о языке AQ"
    subtitle="Есть вопросы о AQ? Вот некоторые из самых распространенных запросов, чтобы помочь вам понять подход языка к простому и безопасному программированию."
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "Что выделяет AQ?",
        description:
          "Простой синтаксис и эффективная модель выполнения делают AQ выдающимся среди множества. Он разработан для быстрого изучения, обеспечивая надежные функции безопасности для современной разработки программного обеспечения.",
      },
      {
        title: "Как начать работу с AQ?",
        description:
          "Начать работу с AQ так же просто, как его синтаксис. Вам просто нужно посетить официальный репозиторий AQ на GitHub, клонировать его, и следовать инструкциям, предоставленным в файле readme, чтобы настроить ваше рабочее окружение разработки.",
      },
      {
        title: "Каковы системные требования для AQ?",
        description:
          "AQ не требует много - просто систему, способную запускать интерпретатор или компилятор. Независимо от того, используете ли вы Windows, Linux или MacOS, вы можете начать работу с AQ прямо сейчас.",
      },
      {
        title: "Подходит ли AQ для моего первого языка программирования?",
        description:
          "Абсолютно! Простота AQ и сходство с C++ делают его отличным выбором для новичков. Кроме того, сообщество готово помочь, если вы когда-либо окажетесь в трудной ситуации.",
      },
      {
        title: "Могу ли я внести вклад в проект AQ?",
        description:
          "Да, участники приветствуются! AQ - это проект с открытым исходным кодом, и мы поощряем вклады, будь то кодирование, документация или поддержка сообщества.",
      },
      {
        title: "Где я могу найти больше информации о AQ?",
        description:
          "Вы можете перейти к официальной документации AQ для подробных руководств, посетить репозиторий для исходного кода или принять участие в форумах сообщества для любых личных вопросов, которые у вас могут возникнуть.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!--<Stats
    stats={[
      { title: 'Загрузки', amount: '132K' },
      { title: 'Звезды', amount: '24.8K' },
      { title: 'Форки', amount: '10.3K' },
      { title: 'Пользователи', amount: '48.4K' },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Исследуйте AQ",
        href: "https://github.com/aq-org/AQ",
        target: "_blank",
        icon: "tabler:download",
      },
    ]}
  >
    <Fragment slot="title">
      Ускорьте с&nbsp;<br class="block sm:hidden" /><span
        class="sm:whitespace-nowrap">AQ программированием</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      Раскройте потенциал быстрого, простого и безопасного кодирования с AQ. <br
        class="hidden md:inline"
      />Начните свой путь разработки уже сегодня!
    </Fragment>
  </CallToAction>
</Layout>