---
import Layout from "~/layouts/ru/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Content from "~/components/widgets/Content.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

import DevelopImg from "../../assets/images/develop.jpg";
import NetImg from "../../assets/images/net.jpg";
import WorkImg from "../../assets/images/work.jpg";

const metadata = {
  title: "Partners",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    tagline="Присоединяйтесь к нашим партнерам"
    actions={[
      {
        variant: "primary",
        text: "Стать партнером",
        href: "#",
        // icon: "tabler:handshake",
      },
      { text: "Узнать больше", href: "#partners" },
    ]}
  >
    <Fragment slot="title">
      <span class="hidden xl:inline">Строим успех&nbsp;</span><br />
      <span class="text-accent dark:text-white highlight">Вместе</span>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Наша миссия - создавать долгосрочные партнерства, способствующие взаимному
        росту и успеху.
      </span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Note />

  <!-- Features Widget *************** -->
  <Features
    id="partners"
    tagline="Наши партнеры"
    title="С кем мы работаем"
    subtitle="Мы гордимся партнерством с разнообразной группой организаций, разделяющих наши ценности и приверженность к превосходству."
    items={[
      {
        title: "Технологические гиганты",
        description:
          "Сотрудничество с ведущими технологическими компаниями для вывода инновационных решений на рынок.",
        // icon: "tabler:brand-reddit",
      },
      {
        title: "Исследовательские учреждения",
        description:
          "Партнерство с ведущими исследовательскими учреждениями для продвижения в различных областях.",
        // icon: "tabler:bulb",
      },
      {
        title: "Образовательные учреждения",
        description:
          "Сотрудничество с образовательными учреждениями для воспитания следующего поколения талантов.",
        // icon: "tabler:school",
      },
      {
        title: "Некоммерческие организации",
        description:
          "Поддержка некоммерческих организаций для создания положительного влияния в сообществах.",
        // icon: "tabler:heart",
      },
      {
        title: "Стартапы",
        description:
          "Поддержка стартапов ресурсами и сетями для ускорения их роста.",
        // icon: "tabler:rocket",
      },
      {
        title: "Лидеры отрасли",
        description:
          "Объединение усилий с лидерами отрасли для установления новых стандартов превосходства.",
        // icon: "tabler:award",
      },
    ]}
  />

  <!-- Content Widget **************** -->
  <Content
    isReversed
    tagline="Наш подход"
    title="Стратегический и совместный"
    items={[
      {
        title: "Общее видение",
        description:
          "Мы строим партнерства на основе общих видений и общих целей.",
      },
      {
        title: "Взаимный рост",
        description:
          "Наши партнерства разработаны для содействия взаимному росту и успеху.",
      },
      {
        title: "Долгосрочное обязательство",
        description:
          "Мы верим в создание долгосрочных отношений с нашими партнерами.",
      },
    ]}
    image={{
      src: DevelopImg,
      alt: "Develop with AQ",
    }}
  >
    <Fragment slot="content">
      <h3
        class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"
      >
        Достигайте большего вместе
      </h3>
      Ощутите преимущества стратегических партнерств, которые способствуют инновациям и расширению.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isAfterContent
    items={[
      {
        title: "Инновации вместе",
        description:
          "Наши партнерства открывают новые возможности для инноваций и роста.",
      },
      {
        title: "Совместные проекты",
        description:
          "Сотрудничество над проектами, которые расширяют границы возможного.",
      },
      {
        title: "Глобальное воздействие",
        description:
          "Использование глобальных сетей для максимизации воздействия и охвата.",
      },
    ]}
    image={{
      src: WorkImg,
      alt: "Work with AQ",
    }}
  >
    <Fragment slot="content">
      Сотрудничайте с нами, чтобы исследовать новые горизонты и добиться невиданных успехов.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: "Посвященная поддержка",
        description:
          "Наши партнеры получают посвященную поддержку и ресурсы для обеспечения успеха.",
      },
      {
        title: "Эксклюзивные преимущества",
        description:
          "Доступ к эксклюзивным преимуществам и возможностям через наши партнерские программы.",
      },
      {
        title: "Участие в сообществе",
        description:
          "Станьте частью сообщества организаций с похожими ценностями, приверженных превосходству.",
      },
    ]}
    image={{
      src: NetImg,
      alt: "AQ Net",
    }}
  >
    <Fragment slot="content">
      Присоединяйтесь к процветающему сообществу партнеров, нацеленных на достижение превосходства.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-green-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Сотрудничество с нами"
    subtitle="Найдите ответы на распространенные вопросы о становлении партнером."
    tagline="FAQs"
    classes={{ container: "max-w-6xl" }}
    items={[
      {
        title: "Как стать партнером?",
        description:
          "Заполните нашу форму запроса партнерства, и наша команда свяжется с вами для обсуждения потенциального сотрудничества.",
      },
      {
        title: "Какие преимущества от сотрудничества?",
        description:
          "Партнеры получают доступ к эксклюзивным ресурсам, посвященной поддержке и сети организаций с похожими целями.",
      },
      {
        title: "Могут ли международные организации стать вашими партнерами?",
        description:
          "Да, мы приветствуем международные организации для присоединения к нашей глобальной сети партнеров.",
      },
      {
        title: "Какие типы партнерств вы предлагаете?",
        description:
          "Мы предлагаем различные типы партнерств, включая стратегические, совместные, спонсорские и другие.",
      },
      {
        title: "Где я могу узнать больше о ваших партнерах?",
        description:
          "Посетите нашу страницу партнеров для подробной информации о наших текущих партнерах и их историях успеха.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->
  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Присоединиться к нам",
        href: "#",
        // icon: "tabler:handshake",
      },
    ]}
  >
    <Fragment slot="title">
      Сотрудничайте с&nbsp;<br class="block sm:hidden" /><span
        class="sm:whitespace-nowrap">нашими партнерами</span
      >
    </Fragment>
    <Fragment slot="subtitle">
      Станьте частью процветающей сети, которая ценит инновации, рост и взаимный успех.
    </Fragment>
  </CallToAction>
</Layout>
